/*

 */

/* Layout */

*, *:before, *:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}

/* Colours */

html {
    color: #333333;
}

/* Fonts */

html {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 106.25%;
    letter-spacing: -0.021em;
    line-height: 1.52947;
}
