/*

 */

*, *:before, *:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}

html {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 106.25%;
}
